<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
    	 <div class="index_Page" style = "text-align:center; color: blue;">
                    <h1><a th:href="@{/}">Welcome to Online Shoe Shop</a></h1>
        </div>
         
        <div class="jumbotron" style = "text-align:center;">
            <h1 class="display-4"><p th:text="'Hello, ' + ${name} + '!'" /></h1>
        	<h1 class="display-4">Group9 Shoes</h1>
            <p class="lead">Try a normal way to shop your shoes</p>
        </div>    
        </div>   
        
       
        <ol style = "text-align:center;">
            <p><a href="/merchant" class="display-5">I want to SELL shoes</a></p>
            <br></br>
            <p><a href="/customer" class="display-5">I want to BUY shoes</a></p>
            <br></br>
            <br></br>
            <br></br>
        
        </ol>

          <div class="footer-bar" style = "text-align:center;">
                    &copy; 2020_SE452_Spring Group9 depaul.edu
          </div>
    </body>
</html>