<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      add Shoes
    </h1> 
  
    <p> 
        <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
        
	    <!--     <p><input type="number" id="shoesID" placeholder="shoesID"></p> -->
	        <p><input type="text" id="brand" placeholder="brand of shoes"></p>
	        <p><input type="text" id="brandseries" placeholder="brand series name"></p>
	        <p><input type="text" id="color" placeholder="color"></p>
	        <p><input type="number" id="size" placeholder="size"></p>
	        <p><input type="number" id="price" placeholder="price"></p>
	     
	        <button onclick="sendJSON()">Submit</button> 
	        
        <!-- </form> -->
          
        <!-- Button to send data -->
        <!-- <button onclick="sendJSON()">Submit</button>  -->
  		<!-- <a href="..\home.html">user list</a> -->
      <!-- For printing result from server -->
      <p class="result" style="color:green"></p> 
      
   </p> 
  
  <!-- Include the JavaScript file -->
  <script src="js/add_shoes.js"></script>
  
  </body> 
</html> 