<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      add Item
    </h1> 
  
    <p> 
        <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
        
	        <p><input type="number" id="shoesID" placeholder="shoesID"></p>
	        <p><input type="number" id="storeID" placeholder="storeID"></p>
	        <p><input type="number" id="orderID" placeholder="orderID"></p>
	        <p><input type="number" id="customerID" placeholder="customerID"></p>
          <p><input type="number" id="quantity" placeholder="quantity"></p>
          <p><input type="text" id="note" placeholder="note"></p>
	        <button onclick="sendJSON()">Submit</button> 
	        
        <!-- </form> -->
          
        <!-- Button to send data -->
        <!-- <button onclick="sendJSON()">Submit</button>  -->
  		<!-- <a href="..\home.html">user list</a> -->
      <!-- For printing result from server -->
      <p class="result" style="color:green"></p> 
      
   </p> 
  
  <!-- Include the JavaScript file -->
  <script src="js/add_item.js"></script>
  
  </body> 
</html> 