<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      add Merchant
    </h1> 
  
    <p>
            <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
        
	        <p><input type="text" id="username" placeholder="username"></p>
	        <p><input type="text" id="password" placeholder="password"></p>
	        <p><input type="number" id="storeID" placeholder="storeID"></p>
	        <p><input type="text" id="personalemail" placeholder="personalemail"></p>
	        <p><input type="text" id="phone" placeholder="phone"></p>
	        <p><input type="number" id="rating" placeholder="rating"></p>
	        <button onclick="sendJSON()">Submit</button> 
	        <p id="login"></p>
	        
        <!-- </form> -->
          
        <!-- Button to send data -->
        <!-- <button onclick="sendJSON()">Submit</button>  -->
  		<!-- <a href="..\home.html">user list</a> -->
      <!-- For printing result from server -->
      <p class="result" style="color:green"></p> 
    </p> 

      
 
  
  <!-- Include the JavaScript file -->
  <script src="js/add_merchant.js"></script>
  
  </body> 
</html> 