<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      add Order
    </h1> 
  
    <p> 
        <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
	        <p><input type="number" id="shoesID" placeholder="shoesID"></p>
 <!--       
	        <p><input type="number" id="customerID" placeholder="customerID"></p>
	        <p><input type="number" id="storeID" placeholder="storeID"></p>
	        <p><input type="number" id="customeraddressID" placeholder="customeraddressID"></p>
	        <p><input type="number" id="merchantaddressID" placeholder="merchantaddressID"></p>
	        <p><input type="number" id="orderprice" placeholder="orderprice"></p>
	        <p><input type="text" id="paymentmethod" placeholder="paymentmethod"></p>
	        <button onclick="sendJSON()">Submit</button> 
-->	        
      <p class="result" style="color:green"></p> 
      
   </p> 
  
  <!-- Include the JavaScript file -->
  <script src="js/add_order.js"></script>
  
  </body> 
</html> 