<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      add Address
    </h1> 
  
    <p> 
     <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
        
	        <p><input type="text" id="state" placeholder="state"></p>
	        <p><input type="text" id="city" placeholder="city"></p>
	        <p><input type="text" id="streetapt" placeholder="streetapt"></p>
	        <p><input type="number" id="zipcode" placeholder="zipcode"></p>
	        <button onclick="sendJSON()">Submit</button> 
	        
        <!-- </form> -->
          
        <!-- Button to send data -->
        <!-- <button onclick="sendJSON()">Submit</button>  -->
  		<!-- <a href="..\home.html">user list</a> -->
      <!-- For printing result from server -->
      <p class="result" style="color:green"></p> 
      
  
  
  <!-- Include the JavaScript file -->
  <script src="js/add_address.js"></script>
  
  </body> 
</html> 