<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      Welcome to customer page
    </h1>
  	<!-- <p id="username" th:text="${name}"/> -->
  	<p>
	  <p>
	    <input type="text" id="search_bar" placeholder="search_bar">
	    <button onclick="search()">Search</button>
	  </p>
      <table id="result" class="table" border="1"></table> 

	  <script src="js/search_shoes.js"></script>
  </p>
  </body> 
</html> 