<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      Welcome
    </h1> 
  
    <p> 
        <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
        
          	<p><input type="text" id="username" placeholder="username"></p>
          	<p><input type="text" id="password" placeholder="password"></p>
	        <button onclick="sendJSON()">LOGIN</button> 
	        <p>
	        	<p>don't have account? </p>
	        	<a href="/add_customer">Sign Up</a>
	        </p>
      <p class="result" style="color:green"></p> 
      
   </p> 
  
  <!-- Include the JavaScript file -->
  <script src="js/customer_login.js"></script>
  
  </body> 
</html> 