<!DOCTYPE html> 
<html> 
  <head> 
    <title> 
      JavaScript | Sending JSON data to server. 
    </title> 
  </head> 
  
  <body style="text-align:center;" id="body"> 
    <h1 style="color:green;"> 
      Search you shoes
    </h1> 
  
    <p> 
     <!-- Making a text input -->
        <!-- <form method="post" action="/order/save" enctype="application/json"> -->
        
	        <p>
	        	<input type="text" id="search_bar" placeholder="search_bar">
	        	<button onclick="search()">Search</button>
	        </p>
	        
	        
        <!-- </form> -->
          
        <!-- Button to send data -->
        <!-- <button onclick="sendJSON()">Submit</button>  -->
  		<!-- <a href="..\home.html">user list</a> -->
      <!-- For printing result from server -->
      <table id="result" class="table" border="1"></table>      
      
  
  
  <!-- <script src="js/list_shoes.js"></script> -->
  <script src="js/search_shoes.js"></script>
  
  
  </body> 
</html> 