<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="/fragments/header :: common-header">    
    </head>

    <body>
        <div th:replace="/fragments/header :: header"></div>        
        <div class="col-md-6">
           
        </div>
        <div>
            <table id="commentList" class="table">
                <thead>
                    <tr>
                        <th scope="col"> commentID </th>
                        <th scope="col"> userID </th>
                        <th scope="col"> storeID </th>
                        <th scope="col"> rating </th>
                        <th scope="col"> commentWords </th>
                        <th scope="col"> reply </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${comment.empty}">
                        <td colspan="2"> No comment </td>
                    </tr>
                    <tr th:each="comment : ${comment}">
                        <td span th:text="${comment.commentID}"></td>
               			<td span th:text="${comment.userID}"></td>
               			<td span th:text="${comment.storeID}"></td>
               			<td span th:text="${comment.rating}"></td>
               			<td span th:text="${comment.commentWords}"></td>
               			<td span th:text="${comment.reply}"></td>
                       
                    </tr>                                                
                </tbody>
            </table>            
        </div>   
        <div th:replace="/fragments/footer :: footer"></div>        
    </body>
</html>

