<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="/fragments/header :: common-header">    
    </head>

    <body>
        <div th:replace="/fragments/header :: header"></div>        
        <div class="col-md-6">
           
        </div>
        <div>
            <table id="airportList" class="table">
                <thead>
                    <tr>
                        <th scope="col"> productID </th>
                        <th scope="col"> brand </th>
                        <th scope="col"> brandID </th>
                        <th scope="col"> color </th>
                        <th scope="col"> size </th>
                        <th scope="col"> price </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${shoes.empty}">
                        <td colspan="2"> No Shoes Available </td>
                    </tr>
                    <tr th:each="shoes : ${shoes}">
                        <td span th:text="${shoes.productID}"></td>
               			<td span th:text="${shoes.brand}"></td>
               			<td span th:text="${shoes.brandID}"></td>
               			<td span th:text="${shoes.color}"></td>
               			<td span th:text="${shoes.size}"></td>
               			<td span th:text="${shoes.price}"></td>
                       
                    </tr>                                                
                </tbody>
            </table>            
        </div>   
        <div th:replace="/fragments/footer :: footer"></div>        
    </body>
</html>

