<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="/fragments/header :: common-header">    
    </head>

    <body>
        <div th:replace="/fragments/header :: header"></div>        
        <div class="col-md-6">
           
        </div>
        <div>
            <table id="ShoesList" class="table">
                <thead>
                    <tr>
                        <th scope="col"> ShoesID </th>
                        <th scope="col"> Brand </th>
                        <th scope="col"> Brandseries </th>
                        <th scope="col"> Color </th>
                        <th scope="col"> Size </th>
                        <th scope="col"> Price </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${shoes.empty}">
                        <td colspan="2"> No Shoes Available </td>
                    </tr>
                    <tr th:each="shoes : ${shoes}">
                        <td span th:text="${shoes.shoesID}"></td>
               			<td span th:text="${shoes.brand}"></td>
               			<td span th:text="${shoes.brandseries}"></td>
               			<td span th:text="${shoes.color}"></td>
               			<td span th:text="${shoes.size}"></td>
               			<td span th:text="${shoes.price}"></td>
                       
                    </tr>                                                
                </tbody>
            </table>            
        </div>   
        <div th:replace="/fragments/footer :: footer"></div>        
    </body>
</html>

