<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="/fragments/header :: common-header">    
    </head>

    <body>
        <div th:replace="/fragments/header :: header"></div>        
        <div class="col-md-6">
           
        </div>
        <div>
            <table id="airportList" class="table">
                <thead>
                    <tr>
                        <th scope="col"> state </th>
                        <th scope="col"> city </th>
                        <th scope="col"> street_apt </th>
                        <th scope="col"> zipcode </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${address.empty}">
                        <td colspan="2"> No Airports Available </td>
                    </tr>
                    <tr th:each="address : ${address}">
                        <td span th:text="${address.state}"></td>
               			<td span th:text="${address.city}"></td>
               			<td span th:text="${address.street_apt}"></td>
               			<td span th:text="${address.zipcode}"></td>
                       
                    </tr>                                                
                </tbody>
            </table>            
        </div>   
        <div th:replace="/fragments/footer :: footer"></div>        
    </body>
</html>

